USE [master]
GO
/****** Object:  Database [RealEstateDB]    Script Date: 12/25/2025 5:26:44 PM ******/
CREATE DATABASE [RealEstateDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RealEstateDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RealEstateDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RealEstateDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RealEstateDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RealEstateDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RealEstateDB]
GO
/****** Object:  Table [dbo].[Parties]    Script Date: 12/25/2025 5:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parties](
	[PartyId] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[CNIC] [nvarchar](20) NULL,
	[ContactPhone] [nvarchar](20) NULL,
	[ContactEmail] [nvarchar](100) NULL,
	[Address] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[PartyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 12/25/2025 5:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Location] [nvarchar](200) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plots]    Script Date: 12/25/2025 5:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plots](
	[PlotId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NULL,
	[PlotNo] [nvarchar](50) NULL,
	[SizeMarla] [decimal](10, 2) NULL,
	[Price] [decimal](18, 2) NULL,
	[Status] [nvarchar](50) NULL,
	[BuyerId] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[OwnerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 12/25/2025 5:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NULL,
	[PlotId] [int] NULL,
	[BuyerId] [int] NULL,
	[SellerId] [int] NULL,
	[SalePrice] [decimal](18, 2) NULL,
	[SaleDate] [date] NULL,
	[DownPayment] [decimal](18, 2) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 12/25/2025 5:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NULL,
	[Amount] [decimal](18, 2) NULL,
	[Type] [nvarchar](50) NULL,
	[SaleId] [int] NULL,
	[InstallmentId] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BuyerLedger]    Script Date: 12/25/2025 5:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_BuyerLedger] AS
SELECT 
    p.PartyId,
    p.Name AS BuyerName,
    t.TransactionId,
    t.Date,
    t.Amount,
    t.Type,
    s.SaleId,
    pl.PlotNo,
    pr.Name AS ProjectName
FROM Parties p
INNER JOIN Transactions t 
    ON p.PartyId = t.InstallmentId
LEFT JOIN Sales s ON t.SaleId = s.SaleId
LEFT JOIN Plots pl ON s.PlotId = pl.PlotId
LEFT JOIN Projects pr ON pl.ProjectId = pr.ProjectId
WHERE p.Type = 'Buyer';
GO
/****** Object:  View [dbo].[vw_SellerLedger]    Script Date: 12/25/2025 5:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SellerLedger] AS
SELECT 
    p.PartyId,
    p.Name AS SellerName,
    t.TransactionId,
    t.Date,
    t.Amount,
    t.Type,
    s.SaleId,
    pl.PlotNo,
    pr.Name AS ProjectName
FROM Parties p
INNER JOIN Transactions t 
    ON p.PartyId = t.InstallmentId
LEFT JOIN Sales s ON t.SaleId = s.SaleId
LEFT JOIN Plots pl ON s.PlotId = pl.PlotId
LEFT JOIN Projects pr ON pl.ProjectId = pr.ProjectId
WHERE p.Type = 'Seller';
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/25/2025 5:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Installments]    Script Date: 12/25/2025 5:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Installments](
	[InstallmentId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentPlanId] [int] NULL,
	[InstallmentNo] [int] NULL,
	[DueDate] [date] NULL,
	[Amount] [decimal](18, 2) NULL,
	[PaidAmount] [decimal](18, 2) NULL,
	[Status] [nvarchar](50) NULL,
	[TransactionId] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[InstallmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentPlans]    Script Date: 12/25/2025 5:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentPlans](
	[PaymentPlanId] [int] IDENTITY(1,1) NOT NULL,
	[SaleId] [int] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[DownPayment] [decimal](18, 2) NULL,
	[NumberOfInstallments] [int] NULL,
	[InstallmentAmount] [decimal](18, 2) NULL,
	[StartDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 12/25/2025 5:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[studentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](max) NOT NULL,
	[StudentAddress] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_students] PRIMARY KEY CLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/25/2025 5:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[Role] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Installments] ADD  DEFAULT ((0)) FOR [PaidAmount]
GO
ALTER TABLE [dbo].[Installments] ADD  DEFAULT ('Due') FOR [Status]
GO
ALTER TABLE [dbo].[Installments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Installments] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Parties] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Parties] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Parties] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Plots] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Plots] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Plots] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Installments]  WITH CHECK ADD FOREIGN KEY([PaymentPlanId])
REFERENCES [dbo].[PaymentPlans] ([PaymentPlanId])
GO
ALTER TABLE [dbo].[PaymentPlans]  WITH CHECK ADD FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sales] ([SaleId])
GO
ALTER TABLE [dbo].[Plots]  WITH CHECK ADD FOREIGN KEY([BuyerId])
REFERENCES [dbo].[Parties] ([PartyId])
GO
ALTER TABLE [dbo].[Plots]  WITH CHECK ADD FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ProjectId])
GO
ALTER TABLE [dbo].[Plots]  WITH CHECK ADD  CONSTRAINT [FK_Plots_Owner] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Parties] ([PartyId])
GO
ALTER TABLE [dbo].[Plots] CHECK CONSTRAINT [FK_Plots_Owner]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([BuyerId])
REFERENCES [dbo].[Parties] ([PartyId])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([PlotId])
REFERENCES [dbo].[Plots] ([PlotId])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ProjectId])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([SellerId])
REFERENCES [dbo].[Parties] ([PartyId])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([InstallmentId])
REFERENCES [dbo].[Installments] ([InstallmentId])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sales] ([SaleId])
GO
/****** Object:  StoredProcedure [dbo].[sp_RecordPayment]    Script Date: 12/25/2025 5:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RecordPayment]
    @InstallmentId INT,
    @Amount DECIMAL(18,2),
    @PaymentDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TransactionId INT;

    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO Transactions (Date, Amount, Type, InstallmentId)
        VALUES (@PaymentDate, @Amount, 'Payment', @InstallmentId);

        SET @TransactionId = SCOPE_IDENTITY();

        UPDATE Installments
        SET 
            PaidAmount = PaidAmount + @Amount,
            Status = CASE 
                WHEN PaidAmount + @Amount >= Amount THEN 'Paid'
                ELSE 'Partial'
            END,
            TransactionId = @TransactionId,
            UpdatedAt = GETDATE()
        WHERE InstallmentId = @InstallmentId;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END;
GO
USE [master]
GO
